* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Mochiy Pop P One", sans-serif;
  background: #fffdd0;
}

i,
svg {
  pointer-events: none;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 224);
}
.snare-pad {
  background: rgb(224, 160, 208);
}
.hihat-pad {
  background: rgb(224, 194, 160);
}
.kick-pad.active {
  background: rgb(59, 197, 231);
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.hihat-pad.active {
  background: rgb(241, 158, 64);
}
.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
  /* flex-wrap: wrap; */
}

.kick,
.snare,
.hihat {
  display: flex;
}
h1 {
  width: 8rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 5rem 0 0;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  background: rgb(88, 88, 88);
  color: white;
  border-radius: 1rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
}
.tempo p {
  font-size: 1.5rem;
  /* margin: ; */
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 754px) {
  .hihat-track,
  .snare-track,
  .kick-track {
    flex-wrap: wrap;
    width: 95%;
    margin-top: 3rem;
  }
  .kick,
  .snare,
  .hihat {
    width: 100%;
    justify-content: space-between;
  }

  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 0.1rem;
  }
  h1 {
    /* min-width: 30%; */
  }
  .controls button {
    margin-right: 1rem;
    padding: 0.5rem;
  }

  .controls select {
    padding: 0.5rem;
    width: 145px;
  }
  .tempo {
    width: 80%;
    margin: 1rem;
  }
  .play {
    margin-top: 1rem;
  }
}
